footer{
    text-align: center;
    margin-top: 32px;
    .icons {
        i{
        height: 4rem;
        width: 4rem;
        line-height: 4.3rem;
        font-size: 1.5rem;
        background-color: #259742;
        color: white;
        border-radius: 50%;
        margin-bottom: 20px;
        }
    }
     
}
