#portfolio{
    .portfolio_items{
        text-align: center;
        h2{
            font-size: 3rem;
            margin-bottom: 3rem !important;
            color: $main-color;
        }
        p{
            font-size: 1rem;
            color: $nav-color;
            margin-top: 55px;
        }
    }
    
}